body {
    background: url(img/20180315124405.png)
}

h1 {
    text-align: center;
    font-family:"黑体";
}

h3 {
    background-color: #fedfe1 ;
    font-family: "黑体";
    font-weight: bold;
    padding:10px 5px
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: white;
    border: 3px #fedfe1 dotted
}

.form {
    width: 350px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: white;
    border: 3px #fedfe1 dotted
}

#header {
    color: black;
    text-align: center;
    padding: 5px;
}

#nav {
    line-height: 30px;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

#section {
    width: 350px;
    float: left;
    padding: 10px;
}

#footer {
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
}